extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная';
	- var pageClass = 'content-page';

block content
	br
	h1 ...здесь ожидается что-то грандиозное ;-)
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam doloribus adipisci mollitia enim sequi eaque error ipsa fuga? Quo aliquam voluptatum molestias ut aspernatur, dolorum amet assumenda laudantium doloribus, ad.
